footer {
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center; }

.navigation {
  background-color: black !important; }

.nav-item {
  padding-left: 50px !important; }

body {
  background-image: url("jpg/back.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.crime {
  color: #292b2b;
  margin-top: 20px;
  font-weight: bold; }

h1 {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

#crimes {
  width: 40%; }

.inputs {
  display: inline-block; }
