$back-top-bottom: black;
$text-color: white;
$navs: 50px;
$head: black;


footer{

    background-color: $back-top-bottom;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: $text-color;
    text-align: center;

}
.navigation{

    background-color: $back-top-bottom !important;
}
.nav-item{

    padding-left: $navs !important;
}

body{
background-image: url("jpg/back.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.crime{
    color:white;
    margin-top:  20px;
    

    font-weight: bold;
    

}
h1{
    color: $head;
}
h3{
    color: $head;
}
#crimes{
    width: 40%;

}
.inputs{
    display: inline-block;
}